<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:name="de.hoell.Jobcontrol"
    package="de.hoell.jobcontrol"
    android:icon="@drawable/ic_launcher"
    android:label="@string/app_name"
    android:versionCode="33"
    android:versionName="1.33"
    >

    <!--
TODO:  VersionCode: immer +1 bei neuer Version
         TODO:  VersionName: String den der User sieht
    -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".Jobcontrol"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:allowClearUserData="true">


        <activity
            android:name=".Start"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_slidermenu" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ticketlist.TicketDetailsActivity"
            android:label="@string/title_activity_ticket_details"
            android:parentActivityName=".MainActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.hoell.jobcontrol.MainActivity" />
        </activity>
        <activity
            android:name=".ticketlist.Historie_Activity"
            android:label="@string/title_activity_historie"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ticketlist.Rueckmeldung"
            android:label="@string/title_activity_rueckmeldung" >
        </activity>
        <activity
            android:name=".ticketlist.InfoActivity"
            android:label="@string/title_activity_info"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ticketlist.NewInfo"
            android:label="@string/title_activity_new_info" >
        </activity>
        <activity
            android:name=".ticketlist.Eskalation"
            android:label="@string/title_activity_eskalation" >
        </activity>
        <activity
            android:name=".preference.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.hoell.jobcontrol.MainActivity" />
        </activity>

        <receiver
            android:name=".widget.WidgetProvider"
            android:icon="@drawable/appwidget_preview"
            android:label="@string/widget_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider" />
        </receiver>

        <service
            android:name=".widget.WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <activity
            android:name=".schein.Arbeitsschein"
            android:label="@string/title_activity_arbeitsschein" >
        </activity>


    </application>

</manifest>
